---
layout: default
title: "Projects"
fulltitle: "Project Page"
hero: hero-projects
order: 2
---

<!--<section id="minor-nav">
	<div class="nav-container">
		<ul id="subject">
			<li>
				Software Developement
			</li>
			<li>
				Design
			</li>
		</ul>

		<ul id="type">
			<li>
				Case Studies
			</li>
			<li>
				Projects
			</li>
		</ul>
	</div>
</section>-->

<section id="projects-container">
	{% for project in site.posts %}
	<article class="vert-rect" id="{% if project.feature == true %}feature{% endif %}">
			<h3>
				{{project.title}}
			</h3>

			<h5>
				{{project.meta}}
			</h5>
	</article>
	{% endfor %}
</section>