@charset "UTF-8";
/* CSS Document 

taken from
https://www.sanwebe.com/2014/08/css-html-forms-designs
*/


.form-style-4{
	width: 100%;
	font-size: 16px;
	padding: 30px 30px 15px 240px;
}
.form-style-4-heading{
	border-bottom: 2px solid #b21555;
	margin-bottom: 20px;
	font-size: 21px;
	padding-bottom: 3px;
	padding-left: 21px;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=tel],
.form-style-4 input[type=url],
.form-style-4 textarea,
.form-style-4 label
{
	font-size: 16px;
}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
	padding-left: 21px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=tel],
.form-style-4 input[type=url]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #b21555;
	width: 210px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
	font-weight: 300;
}

.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #b21555;
	width: 210px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=tel]:focus,
.form-style-4 input[type=url]:focus
{
	border-bottom: 1px dashed #b28b9b;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #b21555;
	border: none;
	color: #f2f2f2;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
	background: #b28b9b;
}

@media only screen and (max-width : 1024px) {
	.form-style-4{
		width: 100%;
		font-size: 16px;
		padding: 30px 30px 15px 0px;
	}
}