@charset "UTF-8";
/* CSS Document */

nav {
	/*background-color: #fff3f8;*/
	background-color: #f2f2f2;
	width: 100%;
	position: fixed;
	z-index: 210;
}

ul {
	display: flex;
	padding-left: 21px;
}

li {
	display: inline;
	flex-grow: 1;
	padding: 21px 0;
	color: #0d071b;
	transition: .21s;
}

nav ul {
	min-width: 480px;
	max-width: 480px;
	float: right;
}

#subject {
	width: 720px;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 0;
}

#subject li {
	flex-basis: 240px;
	padding-left: 21px;
}

nav ul li a {
	font-size: 21px;
}

ul li a {
	color: inherit;
	text-decoration: none;
}

ul li a.current {
	color: #b21555;
}



a:hover {
	color: #b21555;
}

#minor-nav {
	background-color: #f2f2f2;
	position: -webkit-sticky;
	position: sticky;
	top: 63px;
	z-index: 130;
}
.nav-container {
	display: flex;
	justify-content: space-between;
	width: 1200px;
}
@media only screen and (min-width : 481px) and (max-width : 719px) {
	#subject {
		width: 480px;
	}
}

@media only screen and (min-width : 285px) and (max-width : 480px) {
	#subject {
		width: 240px;
	}
}