<!-- Primary navbar comes from https://itnext.io/how-to-build-a-responsive-navbar-using-flexbox-and-javascript-eb0af24f19bf with some moderations -->
<nav class="navbar">
	<span class="navbar-toggle" id="js-navbar-toggle">
		<i class="fa fa-bars"></i>
	</span>
	
	<a href="{{site.baseurl}}/index.html" class="logo">

	</a>
	
	<!--loops through all the webpages in the site, and outputs the valid pages as a list item for a nav bar-->
	<ul class="main-nav" id="js-menu">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% assign class = nil %}
			{% if page.url == node.url %}
				{% assign class = 'current' %}
			{% elsif node.url != '/' and page.url contains node.url %}
				{% assign class = 'current parent' %}
			{% endif %}
			{% if node.mainnav == "true" %}
				<li>
					<a class="nav-links {{class}}" href="{{site.baseurl}}{{node.url}}">
						{{node.title}}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>