@charset "UTF-8";
/* CSS Document */

/*Make the container holding all the projects a grid fin order to make an intruiging layout*/
#projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	grid-auto-rows: 240px;
	grid-auto-flow: dense;
}

/*Set the article to relative so the absolute positioned image uses it as the parent*/
article {
	position: relative;
	overflow: hidden;
}

/*Set the image of the article*/
.article-image {
	height: 100%;
    width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/*translucent overlay to make the type easier to read*/
.article-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-background: radial-gradient(rgba(0,0,0,.21), rgba(0,0,0,.5));
	background: radial-gradient(rgba(0,0,0,.21), rgba(0,0,0,.5));
	transition: 1.3s;
}

/*change the image size*/
article:hover .article-image, article:focus .article-image {
    width: 110%;
	height: 110%;
	/*-ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);*/
}




/*define the sizes the project articles can be*/
.vert-rect {
	background-color: #090428;
	grid-column: span 1;
	grid-row: span 2;
}

.horz-rect {
	background-color: #6aa6a6;
	grid-column: span 2;
	grid-row: span 1;
}

.square {
	background-color: #a65353;
	grid-column: span 1;
	grid-row: span 1;
}

/*A special feature project that is bigger than the rest and appears first always*/
#feature {
	background-color: #bf7160;
	background-image: url("../../images/um.jpg");
	background-position: center;
	background-size: cover;
	grid-column-start: 1;
  	grid-column-end: span 2;
	grid-row-start: 1;
  	grid-row-end: span 2
}


/*Changing the text styling*/
article h3, article h6 {
	padding: 21px;
	margin: 0;
	color: #f2f2f2;
}

article a {
	color: #f2f2f2;
	transition: 1.3s;
	text-decoration: none;
}

article a:hover {
	color: #f2f2f2;
	padding-left: 21px;
}