@charset "UTF-8";
/* CSS Document 

Setting the default values and changing the box model to a border box to make sizes easier to work with
*/

html, html * {
	box-sizing: border-box;
}

html, body, main {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f2f2f2;
	color: #0d071b;
}