<!doctype html>
<html lang="en-uk">
	<head>
		<meta charset="UTF-8">
		<title>Portfolio</title>
		<link rel="stylesheet" href="https://use.typekit.net/nip4cfc.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{site.baseurl}}/styles/common.css">
	</head>

	<body>
		<main>
			<header>
				{% include header.html %}
			</header>
			{% include hero.html %}
			{{content}}
			<footer>
				{% include footer.html %}
			</footer>
		</main>
		
		<script>
			function random_item(items)
			{

			return items[Math.floor(Math.random()*items.length)];

			}
			
			let mainNav = document.getElementById("js-menu");
			let navBarToggle = document.getElementById("js-navbar-toggle");

			navBarToggle.addEventListener("click", function() {
				mainNav.classList.toggle("active");
			});
			
			function shuffle(elems) {
				
				allElems = (function(){
				var ret = [], l = elems.length;
				while (l--) { ret[ret.length] = elems[l]; }
				return ret;
				})();

				var shuffled = (function(){
					var l = allElems.length, ret = [];
					while (l--) {
						var random = Math.floor(Math.random() * allElems.length),
							randEl = allElems[random].cloneNode(true);
						allElems.splice(random, 1);
						ret[ret.length] = randEl;
					}
					return ret; 
				})(), l = elems.length;

				while (l--) {
					elems[l].parentNode.insertBefore(shuffled[l], elems[l].nextSibling);
					elems[l].parentNode.removeChild(elems[l]);
				}
			}
 
 
			// Usage:
			var articleShape = ["vert-rect", "small-square", "horz-rect", "large-square"];
			var article = document.querySelectorAll("article");
			
			for (i=0;i<article.length;i++){
				article[i].className = random_item(articleShape);
			}
			
			shuffle(article);
		</script>
	</body>
</html>
