<!doctype html>
<html lang="en-uk">
	<head>
		<meta charset="UTF-8">
		<title>Portfolio</title>
		<link rel="stylesheet" href="https://use.typekit.net/nip4cfc.css">
		<link rel="stylesheet" href="{{site.baseurl}}/styles/common.css">
	</head>

	<body>
		<header>
			{% include header.html %}
		</header>
		
		<main>
			<div id="project-post">
				<section id="intro" class="container">
					<h1 id="project-title">
						{{page.title}}
					</h1>
				</section>
				<section id="header-img" class="container" style="background-image: url('{{site.baseurl}}/images/project-images/main-images/{{page.main-image}}");>
				</section>
				<section id="byline" class="container">
					<p id="meta">
						{{page.date | date: "%d/%m/%Y"}}
					</p>
				</section>
				<section id="project-content" class="container">
					{{content}}
				</section>
			</div>
			
			<footer>
				{% include footer.html %}
			</footer>
		</main>
	</body>
</html>