<!doctype html>
<html lang="en-uk">
	<head>
		<meta charset="UTF-8">
		<title>Portfolio</title>
		<link rel="stylesheet" href="https://use.typekit.net/nip4cfc.css">
		<link rel="stylesheet" href="{{site.baseurl}}/styles/common.css">
	</head>

	<body>
		<header>
			{% include header.html %}
		</header>
		
		<main>
			{% include post-hero.html %}
			
			<section id="project-content">
				{{content}}
			</section>
			
			<footer>
				{% include footer.html %}
			</footer>
		</main>
	</body>
</html>