---
layout: default
---

<!--extends the default layout and provides a secondary navigation bar to filter through what project type you want to look at-->
<section id="minor-nav">
	<div class="nav-container">
		<ul id="subject">
			<!--sorts through the pages and displays the valid ones as a list item-->
			{% assign sorted_pages = site.pages | sort:"suborder" %}
			{% for node in sorted_pages %}
				{% if node.projectnav == "true" %}
					<li>
						<a class="{% if page.url == node.url%}current{% endif %}" href="{{node.url}}">
							{{node.subtitle}}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

{{content}}